.ball {
  display: inline-block;
  position: relative;
  top: 100px;
  height: 150px;
  margin-left: 10px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 3px 0px 5px 0px;
}

.ball:active {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5) inset;
  background: linear-gradient(to right, #11998e, #38ef7d)
}

div.ball.active {
  background-color: #ffa500;
}